.card-container{
    width: 100%;
    padding-top: 40px;
    padding-bottom: 20px;
}

.card{
    background-color:white;
    display: block;
    width: 600px;
    margin: 0 auto;
    margin-bottom: 20px;
}

.likes {
    padding-left: 25px;
    padding-top: 5px;
    padding-bottom: 5px;
    color: gray;
    font-family: 'Raleway';
    border-left: 1px solid #ddd;
    border-right: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    box-shadow: 1px 1px 9px rgba(0, 0, 0, 0.1);
}

.buttonDiv {
    margin: auto;
    padding-bottom: 20px;
    width: 100px;
}

.loadMore {
    background-color: white;
    font-size: 15px;
    width: 100px;
    border: 1px solid #ddd;
    box-shadow: 1px 1px 9px rgba(0, 0, 0, 0.1);;
    padding: 5px;
    color: lightseagreen;
    cursor: pointer;
}

.loadMore:hover {
    background-color: lightgray;
}

@font-face{
    font-family: 'Raleway';
    src:url("../fonts/Raleway-Regular.ttf") format("trueType");
}